 .completed{
	color: gray;
	text-decoration: line-through;
}

  #container {
	width: 360px;
    background: #f7f7f7;
/*	border: 2px solid gray;*/
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}
  span {
		background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.4s linear;
	opacity: 0;
}
.fa-plus {
	float: right;
}

  body{
	font-family: Roboto;
    background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
      background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* W3C */
}
  h1{
	text-transform: uppercase;
	font-size: 24px;
	background: #2890b9;
	color: white;
	margin: 0px;
    padding:10px 20px;
}
  input{
    font-size: 14px;
    width: 100%;
    color: #2980b9;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    background: #f7f7f7;

}
  li:nth-child(2n){
	background: #f7f7f7;
}
  li {
	line-height: 40px;
	height: 40px;
	color: #666;
	background: #fff;
}
  ul {
	 list-style: none;
	 margin :0;
	 padding: 0;

}
li:hover span {
	width: 40px;
	opacity: 1.0;
}